<br>
<% if @plants.length > 0   %>

<ul>
    <% @plants.each do |plant| %>
    <li>
        <a href="/plants/<%= plant.id %>">
            <%= plant.name %>, <%= plant.age %>
        </a>
    </li>
    <% end %>
</ul>


<% else %>
<h3 class="heading_sell_text">
    <center>No listing of your plants, yet!<center>
</h3>

<% end %>

<br><br><br><br>




<h6>
    <center>Interested in selling?.<center>
</h6>
<br>


<center><%= button_to "Sell here!", new_plant_path, method: :get, class: "btn btn-secondary" %><center?>