<%# "Adding a new entry" view when user wants to sell a plant.  %>
<h1>
    <center>New Plant<center>
</h1>

<%# Using partial to render _form  %>
<%= render "form", plant: @plant %>

<center><%= link_to "Back", plants_path, class: "btn btn-secondary" %><center>