<br>
<h3><center>No listing of your plants, yet!<center></h3>
<br><br><br><br><br><br><br>

<h6><center>Interested in selling?.<center></h6>
<br>


<center><%= button_to "Sell here!", plants_sell_new_path, method: :get, class: "btn btn-secondary" %><center?>
