<h3>
    <center>Editing Details<center>
</h3>

<p><%= @plant.name %></p>

<p><%= @plant.age %></p>

<ul>
    <li><%= link_to "Edit", edit_plant_path(@plant) %></li>
    <li><%= link_to "Destroy", plant_path(@plant),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>