/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
.image-one {
  width: 100%;
}

img.plant_view {
  display: block;
  width: 100%;
  margin: 20px 0 0 0;
}

.col {
  // border: 1px solid red;
}

.button-container form {
  display: inline;
}

.button-container form + form {
  margin-left: 10px;
}

.selling-image {
  width: 9rem;
  margin: 10px 0 10px 0;
}

.nounderline {
  text-decoration: none !important;
  color: black;
}
.plant {
  // width: 240px;
  margin: 0 auto;
  max-width: 270px;
  text-align: center;
  background-color: #e9ecef;
  border-radius: 10px;
  padding-bottom: 15px;
}

.image-box {
  width: 240px;
  height: 240px;
  object-fit: cover;
  margin-bottom: 15px;
}

// CSS FROM BOOTSTRAP

@import "bootstrap";
